[ispconfig]
username = ''
password = ''
location = 'https://<domain>/remote/index.php'
billing = 'https://<domain>/remote/billing.php'
uri = 'https://<domain>/remote/'
allow_self_signed = true

[company]
id = 1
vat = 19.00
default_invoice_template = 1
default_invoice_email_template = 1

[auth]
auth_server = 'https://<server>/'